.App {
  text-align: center;
}

.App-header {
  background-color: #f5f5f5;
  height: 10vh;
  padding: 15px;
  display: flex;
  width: 100%;
}

.App-logo {
  width: 100px;
  position: absolute;
  margin: auto;
  top: 1.5vh;
  left: 0px;
  right: 0px;
}

.App-back {
  align-self: flex-start;
}

.App-intro {
  font-size: large;
}

/*
 Loading Animation
*/

.loader-container {
  height: 90vh;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(68deg, #fff, #eee);
}
path {
  animation: infinite fadeio 1800ms;
  animation-delay: calc(var(--pos) * 50ms);
}

@keyframes radialio {
  50% {
  }
}
@keyframes fadeio {
  25%,
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
